.footer {
  background-color: #001c52;
  padding: 30px;
  img {
    width: 150px;
    margin: 20px auto;
    display: block;
  }
  p {
    color: white;
    font-size: 0.9rem;
    text-align: center;
  }
}
