html {
  font-size: 14px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  line-height: 1.8rem;
}
h1,
h2,
h3,
h4,
h5 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #001c52;
  line-height: 1.7rem;
}
ul,
ol {
  padding-left: 20px;
  margin: 10px 0;
}
li {
  list-style-position: inside;
}
b {
  font-weight: 600;
}
